.projects {
  max-width: 1154px;
  height: auto;
  align-items: center;
  margin: auto;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
}

.projectsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 500px));
  gap: 30px;
}

.projectImg {
  max-width: 400px;
  height: auto;
}

.link-container {
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  text-align: center;
}

@media only screen and (max-width: 762px) {
  .projects {
    padding-left: 10px;
    padding-right: 10px;
  }

  .projectImg {
    max-width: 200px;
    height: auto;
  }
}
