.experience {
    max-width: 1154px;
    height: auto;
    align-items: center;
    margin: auto;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
}

.exp-bubble {
   max-width: 1000px ;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
}

.skill-bubble { 
    border: 0px solid;
    border-radius: 10px;
    background-color: var(--pink-color);
    color: var(--bg-secondary);
    padding: 7px;
    margin: 3px 5px 3px 5px;
}

@media only screen and (max-width: 762px) {
    .experience {
        padding-left: 10px;
        padding-right: 10px;
    }
}